<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> g12shop@gmail.com</li>
                            <li>Freeship cho đơn từ 299,000đ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__auth">
                        	<a th:href="@{/profile}" class="mr-4" th:if="${session.currentUser != null}">Chào, <span th:text="${session.currentUser.fullname}"></span></a>
                          <a th:href="@{/login}" class="mr-4" th:if="${session.currentUser == null}"><i class="fa fa-user"></i> Đăng nhập</a>
            				      <a th:href="@{/register}" th:if="${session.currentUser == null}"><i class="fa fa-user-plus"></i> Đăng ký</a>
            				      <a th:href="@{/logout}" class="mr-4" th:if="${session.currentUser != null}"><i class="fa fa-share"></i> Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index"><img th:src="@{/user/img/logo.png}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li th:classappend="${isIndexPage} ? active"><a href="/index">Trang chủ</a></li>
			           <li th:classappend="${isShopPage} ? active"><a href="/shop-grid">Sản phẩm</a></li>
			           <li th:classappend="${isAboutPage} ? active"><a href="/about">Giới thiệu</a></li>
			           <li th:classappend="${isContactPage} ? active"><a href="/contact">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <div class="header__cart__price modified__cart">
                    	Giỏ hàng: <span th:text="${#numbers.formatDecimal(150000, 0, 'COMMA', 0, 'POINT') + ' đ'}"></span>
                    	<a href="shopping-cart">
                    		<i class="fa fa-shopping-bag"></i> 
                    		<span>3</span>
                    	</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Đặc sản</span>
                    </div>
                    <ul>
                        <th:block th:each="category : ${categories}">
                        <li><a th:href="|/shop-grid/${category.slug}|" th:text="|${category.name}|"></a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <div>
                            <input id="searchValue" type="text" placeholder="Bạn cần gì?">
                            <button id="search" type="submit" class="site-btn">TÌM</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
