<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Đăng ký</title>

    <th:block th:include="@{/fragments/css}"></th:block>

</head>
<body>
<th:block th:include="@{/fragments/header}"></th:block>

<div class="container">
    <div class="col-sm-8 m-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center text-uppercase text-primary font-weight-bold">Đăng ký</h5>
                <form>
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Email</label>
                        <input type="email" class="form-control" id="floatingInput" placeholder="">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Họ và tên</label>
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Mật khẩu</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="">
                    </div>
                    <div class="form-floating mb-3">
                        <div>
                            <a class="config-link-href" href="/login" style="">Đã có tài khoản?</a>
                        </div>
                    </div>
                    <div class="d-grid text-center">
                        <button class="btn btn-primary btn-login text-uppercase fw-bold" type="button">
                            Đăng ký
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:include="@{/fragments/footer}">
</th:block>
<!-- Js Plugins -->
<script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/user/js/bootstrap.min.js}"></script>
<script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/user/js/jquery-ui.min.js}"></script>
<script th:src="@{/user/js/jquery.slicknav.js}"></script>
<script th:src="@{/user/js/mixitup.min.js}"></script>
<script th:src="@{/user/js/owl.carousel.min.js}"></script>
<script th:src="@{/user/js/main.js}"></script>
</body>

</html>